<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layoutmanager :: layout (~{::body},'menu')}">

<body>


<h2>Historia wydanych zamowien</h2>

<table id="Zamowienia" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Nazwa Pizzy</th>
        <th style="width: 150px;">Kto?</th>
        <th style="width: 150px;">Na miejscu?</th>
        <th style="width: 150px;">Data</th>
        <th style="width: 150px;">Cena</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.pizza.name}"/>
        <td th:text="${order.address}"/>
        <td th:text="${order.eatIn}"/>
        <td th:text="${order.utilCalendar.time}"/>
        <td th:text="${order.pizza.price}"/>

    </tr>
    </tbody>
</table>
</body>
</html>