<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'menu')}">

<body>

<h3>Dużą atrakcją dla osób zapracowanych, które nie mają ani czasu ani ochoty na wyprawę do pizzerii jest możliwość zamawiania w Tanie Pizze online. Złożenie zamówienia online na ulubioną pizzę jest bardzo proste. Znajdując sie na naszej stronie, wybierasz ulubione danie, podajesz adres dostawy, wybierasz z menu pizzę, sos i napój i przechodzisz do wirtualnej kasy. Masz do dyspozycji kilka dogodnych rodzajów płatności online. Teraz wystarczy poczekać na dostawę. Kurier przywiezie Twoją ulubioną pizzę i inne przysmaki do domu lub do biura - gdziekolwiek chcesz! Znajdziesz tu również mnóstwo atrakcyjnych promocji i zniżek, dzięki którym zafundujesz sobie dwie pizze w cenie jednej lub zestaw promocyjny z dużą pizzą. Zamawiaj jedzenie online w Tanie Pizze i jedz ze smakiem!</h3>

</body>
</html>